 .title{color: #272727;width: 700px;gap: 0px;color: #272727;
    font-family: Lato;
    font-size: 80px;
    
    font-weight: 800;
    line-height: normal;
    ;

 } .header{ background-color: rgba(229, 84, 115, 0.10); ;}

.banner-pa{
   display: inline-flex;flex-direction: column;align-items: flex-start;
}
 .banner { padding:100px 50px  10px 200px; align-items: center; display: flex; }
 .banner.1stpicture{ width: 500px  }
 .description{color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 28px;
    
    font-weight: 400;
    line-height: 30px;

 } .primary-text{
    border-radius: 10px;color:#FFFFFF ;
background: #E55473;font-size:20px ;
padding: 10px 23px;
align-items: flex-start;border-color: azure;cursor: pointer;

 }
 .about{ padding: 100px 100px 100px 100px; }
    .section-title{font-family: Lato;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
    text-align: center;}
    .section-des{color: rgba(39, 39, 39, 0.60);
        text-align: center;
        
        font-size: 18px;
        
        font-weight: 500;
        line-height: 10px;}  .snd{background-color: #FFFFFF; margin: 100px 100px 100px 100px; }



        .pictures{flex-shrink: 0px
            ;display: flex;align-items: center;padding-left:500px ;gap: 80px;
        }
       .pink{
        background: rgba(167, 33, 98, 0.15);border-radius: 300px 300px 0px 0px ;width: 370px;
        height: 470px;

       }.mix{background: rgba(5, 151, 160, 0.15);border-radius: 300px 300px 0px 0px ;width: 400px;
        height: 470px;
        
          } 
          .yellow{width: 414px;
            height: 471px;
            
            background: rgba(71, 125, 17, 0.15);border-radius: 300px 300px 0px 0px}
            .name{color: #272727;
                text-align: center;
                
                font-size: 24px;
            
                font-weight: 700;
                line-height: 35px;
                text-decoration-line: underline;}
                .tagbar{
                    color: #272727;
font-family: Lato;
font-size: 40px;

font-weight: 800;
                }
                .sale-bar{ text-align: center;
                } 
                .mongo{ display: flex;
                    padding: 200px 300px 200px 500px;gap: 100px ; margin: 0 ;border-radius: 8px;
                    background: rgba(229, 84, 115, 0.05);flex-shrink: 0;width: 2000px
                    
                    
            
            } ;.tagdescription{color: rgba(39, 39, 39, 0.60);
                text-align: center;
                font-family: Lato;
                font-size: 20px;
                
                font-weight: 400;
                line-height: 30px; }
                    
                .social{color: #272727;
                    text-align: center;
                    font-size: 50px;
                    font-weight: 800;padding-top: 200px;
                    }
                    .sites{color: rgba(39, 39, 39, 0.60);
                        text-align: center;
                       
                        font-size: 18px;
                        
                        font-weight: 400;
                        line-height: 30px; }
                        .social-pic{padding: 100px 100px 100px 400px ;width: 342px;
                            height: 396px;
                            display: flex;gap: 50px;
                           }
.next{color: #272727;width: 500px;color: #272727;
    font-family: Lato;
    font-size: 50px; padding-bottom: 30%;
    text-align: center;padding-left: 30%;
    font-weight: 200;
    }
       .last{color: #272727;
        text-align: center;
    
        font-size: 40px;
        
        font-weight: 800;
       }         
             .last2{color: rgba(39, 39, 39, 0.60);
                text-align: center;
                
                font-size: 18px;
                
                font-weight: 400;
                line-height: 30px; 

             }    .label{border-radius: 8px;
                background: #FFF; width: 900px; height: 50px;align-items: center
                ; }   
                    .form{display: flex; gap: 50px;
                    padding-left: 500px; } 
                    .final{padding: 100px ; }
                    .case{color: #FFF;
                        font-family: Lato;
                        font-size: 45px;
                        
                        font-weight: 700;
                         }.para{color: rgba(255, 255, 255, 0.90);
                           
                         
                            font-size: 20px;
                           
                            font-weight: 300;
                            line-height: 20px; } .text{ color: rgba(255, 255, 255, 0.40);font-size: 15px; font-weight:300 ;} 
                            .footer{ background: #111010; text-align: center;
                                background-size: cover;height: 500px;  padding: 100px;}    
                                .color{color: #E55473; ; }
                        
                            
                   
